fastapi==0.104.1
uvicorn==0.24.0
modelscope==1.11.0
torch==2.0.1+cpu
torchvision==0.15.2+cpu
torchaudio==2.0.2+cpu
opencv-python==4.8.1.78
numpy<2.0
huggingface_hub==0.13.4
diffusers==0.21.4
transformers==4.31.0